button,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
  text-decoration: none;
  outline: none;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 16px 32px;
  backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      gap: 8px;

      a {
        padding: 8px 16px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        color: black;

        &:hover {
          background-color: underline;
        }
      }
    }
  }

  .logoImage {
    max-width: 100px;
  }

  .buttonBox {
    display: flex;
    align-items: center;

    a {
      margin-left: 12px;
    }
  }
}

.heroSection {
  background-image: linear-gradient(
    to left bottom,
    #f4fafa,
    #f3fafc,
    #f3fafd,
    #f5f9ff,
    #f7f8ff,
    #f9f8ff,
    #faf8ff,
    #fcf8ff,
    #fcf9ff,
    #fcfaff,
    #fdfbff,
    #fdfcff
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 1152px;
    margin: auto;
    text-align: center;
  }

  h1 {
    font-size: 72px;
    font-weight: 600;
    margin-top: 24px;
    text-align: center;
  }

  .greyBox {
    font-size: 14px;
    font-weight: 500;
    border: 2px solid #a7a0a0;
    border-radius: 22px;
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    text-align: center;

    p {
      margin: 0;
    }
  }

  .smallerHeadline {
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
  }

  .smallerText {
    font-size: 14px;
    margin-top: 16px;

    a {
      color: #2196f3;
    }
  }
}

.section1 {
  background-color: #fff;
  padding: 32px 0;

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    max-width: 30%;

    img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}

footer {
  background-color: #000;
  color: #fff;
  padding: 48px 0;
  text-align: center;

  h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
  }

  p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .linkBox {
    background-color: #2196f3;
    color: #ffffff;
    padding: 8px 16px;
    max-width: 200px;
    border-radius: 6px;
    font-size: 14 px;
    font-weight: 500;
    transition: background-color 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #1976d2;
    }

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
